body {
  background: black;
  color: #f9f9f9;
  font-family: 'K2D', sans-serif;
  margin: 0;
  width: 100vw;
  text-align: center;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  border: 3px solid #f9f9f9;
}

header {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  visibility: hidden;
}

.nav-button {
  width: 7rem;
  background: black;
  color: #f9f9f9;
  cursor: pointer;
  height: 2rem;
}

footer {
  text-align: center;
}

h2 {
  margin: auto;
}

.projects {
  width: 20vw;
  background: black;
  color: #f9f9f9;
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-section {
  overflow: scroll;
  margin: 0;
  padding: 0;
  height: 35rem;
}

.colors {
  width: 60vw;
  background: black;
  height: 82vh;
  display: flex;
  flex-direction: column;
  border-left: 5px solid #f9f9f9;
}

.lock {
  cursor: pointer;
}

.unlocked {
  height: 2rem;
  width: 2rem;
  background-image: url("../images/padlock-unlock\ \(1\).png");
  background-repeat: no-repeat;
}

.locked {
  height: 2rem;
  width: 2rem;
  background-image: url("../images/padlock.png");
  background-repeat: no-repeat;
}

article {
  background: black;
  height: 80vh;
  width: 79.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

article:hover {
  border-top: 4px solid #f9f9f9;
  border-bottom: 4px solid #f9f9f9;
}

.palletes {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: black;
  color: #f9f9f9;
  height: 82vh;
  visibility: hidden;
  border-left: 5px solid #f9f9f9;
}

.pallete-list {
  height: 35rem;
  padding: 0;
  margin: 0;
  overflow: scroll;
  width: 19.6vw;
}


.pallete-color {
  text-align: center;
  height: 1.5rem;
}

li {
  list-style-type: none;
  height: 4rem;
  border: 3px solid #f9f9f9;
}

.pallete {
  list-style-type: none;
  height: 9rem;
  border: 3px solid #f9f9f9;
}

.pallete-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  text-decoration: underline;
}


.open {
  visibility: visible;
}

.garbage {
  cursor: pointer;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
}

form {
  border: 1px solid #f9f9f9;
  display: flex;
  flex-direction: row;
}

input {
  height: 1.3rem;
  width: 16.5vw;
  background: #050505;
  color: #f9f9f9;
  opacity: .8;
  padding-left: .5rem
}

input::placeholder {
  color: #f9f9f9;
}

.project-button {
  height: 1.6rem;
  padding: 0;
  margin: 0;
  width: 1.9vw;
  cursor: pointer;
  font-size: 1rem;
  background: black;
  color: #f9f9f9;
}

.pallete-button {
  height: 1.7rem;
  padding: 0;
  margin: 0;
  width: 1.9vw;
  cursor: pointer;
  font-size: 1rem;
  background: black;
  color: #f9f9f9;
}

.generate-button {
  width: 100vw;
  height: 2.5rem;
  background: black;
  color: #f9f9f9;
  cursor: pointer;
  text-decoration: underline;
}

.generate-button:active {
  background: #f9f9f9;
  color: black;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 950px) {
  .palletes {
    visibility: hidden;
    width: 0;
  }

  .pallete-list {
    width: 100vw;
  }

  .projects {
    visibility: hidden;
    width: 0;
  }

  .colors {
    width: 0;
    visibility: hidden;
  }

  article { 
    width: 98.5vw;
  }

  p {
    visibility: hidden;
  }

  nav {
    visibility: visible;
  }

  .visible {
    visibility: visible;
    width: 100vw;
  }
}
