main {
  display: flex;
  flex-direction: row;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

.projects {
  width: 20vw;
  background: red;
  height: 80vh;
}

.colors {
  width: 60vw;
  background: yellow;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article {
  background: black;
  height: 80vh;
  width: 10rem;
}

.palletes {
  width: 20vw;
  background: blue;
  height: 80vh;
}
